<div class="portfolio-container">
  <div class="ohsnap">
  </div>

  <div class="gifter">
    1. <%= link_to "GIFTER", gifter_path %>
  </div>

  <div class="nav">
    <%= link_to "ABOUT", about_path %>
    <%= link_to "PORTFOLIO", portfolio_path, {:style=>'font-weight:700;'} %>
    <%= link_to "CONTACT", contact_path %>
    <%= link_to "TRAVEL", travel_path %>
  </div>
</div>
