<!-- <div class="travel-container">
  <h1>TRAVEL</h1>

  <div class="travel-post">
    <div class="travel-photo-1">
      <%= cl_image_tag("vsco5ac697d978d7a", width: 200, length: 200) %>
    </div> -->
  <!--   <div class="travel-photo-2">
      <%= cl_image_tag("vsco5ac267e06b433", width: 120, length: 200) %>
    </div>
     <div class="travel-photo-3">
      <%= cl_image_tag("vsco5ac12ee5f20e6", width: 120, length: 100) %>
    </div> -->
    <!-- <div class="travel-location">
      <h4>CROATIA</h4>
    </div>
  </div>

  <div class="nav">
    <%= link_to "ABOUT", about_path %>
    <%= link_to "PORTFOLIO", portfolio_path %>
    <%= link_to "CONTACT", contact_path %>
    <%= link_to "TRAVEL", travel_path, {:style=>'font-weight:700;'} %>
  </div>
</div>
 -->
